{% extends "layout.html" %}

{% block content %}

    <div class="row">
        <div class="col-12 mt-3 text-center text-uppercase">
            <h2>Register as a {% if type=='user' %}User{% else %}Merchant{% endif %}</h2>
        </div>
    </div>

    <main class="row">
        <div class="col-lg-4 col-md-6 col-sm-8 mx-auto bg-white py-3 mb-4">
            <div class="row">
                <div class="col-12">
                    <form method="post" action="">
                        {{ form.hidden_tag() }}
                        <div class="form-group">
                            {{ form.name.label() }}
                            {{ form.name(class='form-control') }}
                            <   div class="text-danger">
                                {{ form.name.errors[0] }}
                            </div>
                        </div>
                        <div class="form-group">
                            {{ form.email.label() }}
                            {{ form.email(class='form-control') }}
                            <div class="text-danger">
                                {{ form.email.errors[0] }}
                            </div>
                        </div>
                        <div class="form-group">
                            {{ form.username.label() }}
                            {{ form.username(size = 32,class='form-control') }}
                            <div class="text-danger">
                                {{ form.username.errors[0] }}
                            </div>
                        </div>
                        <div class="form-group">
                            {{ form.password.label() }}
                            {{ form.password(class='form-control') }}
                            <div class="text-danger">
                                {{ form.password.errors[0] }}
                            </div>
                        </div>
                        <div class="form-group">
                            {{ form.password2.label() }}
                            {{ form.password2(class='form-control') }}
                            <div class="text-danger">
                                {{ form.password2.errors[0] }}
                            </div>
                        </div>

                        <div class="form-group">
                            {{ form.mobile.label() }}
                            {{ form.mobile(size = 10, class="form-control" ) }}
                            <div class="text-danger">
                                {{ form.mobile.errors[0] }}
                            </div>
                        </div>

                        {% if type=='store' %}
                            <div class="form-group">
                                {{ form.storeName.label() }}
                                {{ form.storeName(class="form-control" ) }}
                                <div class="text-danger">
                                    {{ form.storeName.errors[0] }}
                                </div>
                            </div>
                            <div class="form-group">
                                {{ form.street.label() }}
                                {{ form.street(class="form-control" ) }}
                                <div class="text-danger">
                                    {{ form.street.errors[0] }}
                                </div>
                            </div>
                            <div class="form-group">
                                {{ form.city.label() }}
                                {{ form.city(class="form-control" ) }}
                                <div class="text-danger">
                                    {{ form.city.errors[0] }}
                                </div>
                            </div>
                            <div class="form-group">
                                {{ form.zipCode.label() }}
                                {{ form.zipCode(size=6, class="form-control" ) }}
                                <div class="text-danger">
                                    {{ form.zipCode.errors[0] }}
                                </div>
                            </div>
                            <div class="form-group">
                                {{ form.state.label() }}
                                {{ form.state(class="form-control" ) }}
                                <div class="text-danger">
                                    {{ form.state.errors[0] }}
                                </div>
                            </div>
                            <div class="form-group">
                                {{ form.country.label() }}
                                {{ form.country(class="form-control" ) }}
                                <div class="text-danger">
                                    {{ form.country.errors[0] }}
                                </div>
                            </div>
                            <div class="form-group d-none">
                                {{ form.latitude.label() }}
                                {{ form.latitude(class="form-control", id="latitude" ) }}
                                <div class="text-danger">
                                    {{ form.latitude.errors[0] }}
                                </div>
                            </div>
                            <div class="form-group d-none">
                                {{ form.longitude.label() }}
                                {{ form.longitude(class="form-control", id="lognitude" ) }}
                                <div class="text-danger">
                                    {{ form.longitude.errors[0] }}
                                </div>
                            </div>
                            <buttton type="button" class="m-1 btn btn-outline-primary" onclick="getLocation()">
                                Fetch Co-ordinates
                            </buttton>
                        {% endif %}

                        <div class="form-group">
                            <div class="form-check">
                                <input type="checkbox" id="agree" class="form-check-input" required>
                                <label for="agree" class="form-check-label ml-2">I agree to Terms and Conditions</label>
                            </div>
                        </div>
                        <div class="form-group">
                            {% if type=='store' %}
                            <button id="submit" type="submit" class="btn btn-outline-dark" disabled="true">Register</button>
                            {% else %}<button id="submit" type="submit" class="btn btn-outline-dark">Register</button>
                            {% endif %}
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </main>

    <script>
        let lat = document.getElementById("latitude");
        let long = document.getElementById("longitude");

        function getLocation() {
            if (navigator.geolocation) {
                navigator.geolocation.getCurrentPosition(showPosition);
                document.querySelector('#submit').disabled=false;

            } else {
                alert("Geolocation is not supported by this browser.");
            }
        }

        function showPosition(position) {
            lat.value = position.coords.latitude;
            long.value = position.coords.longitude;
            {#x.innerHTML = "Latitude: " + position.coords.latitude +#}
            {#    "<br>Longitude: " + position.coords.longitude;#}

        }
    </script>
{% endblock %}